{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block menu %}
<div class="bar">
</div>
<br>
<br>
<div class="container d-flex justify-content-center">
    <h1>Pastelaria do Zé</h1>
</div>

{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row g-12 form-control">
            <form class="container" action="{{ url_for('login.validaLogin') }}" method="post">
                <div class="container">
                    <br>
                    <div class="row">
                        <h1>Entrar</h1>
                        <br>
                        <div class="bar"></div>
                    </div>
                    <br>
                    <div class="row text-start">
                        <div class="col-md-12">
                            <label class="form-label" for="usuario">CPF do Usuário:</label>
                            <input class="form-control" placeholder="CPF" name="usuario" id="usuario" type="text" required> 
                        </div>
                    </div>
                    <br>
                    <div class="row text-start">
                        <label for="grupo"class="col-sm-2 form-label">Grupo:</label>
                        <div class="col-sm-5">
                            <select name="grupo" id="grupo" aria-label="Grupo" class="form-select col-sm-2" >
                              <option value="Atendente" {{ 'selected' if grupo == 0 else '' }}>Atendente</option>
                              <option value="Caixa" {{ 'selected' if grupo == 1 else '' }}>Caixa</option>
                              <option value="Adm" {{ 'selected' if grupo == 2 else '' }}>Adm</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row text-start">
                        <div class="col-md-12">
                            <label class="form-label" for="senha">Senha:</label>
                            <input class="form-control" placeholder="Senha" name="senha" id="senha" type="password" required> <br> 
                        </div>
                    </div>
                    <br>
                    <div class="row text-start">
                        <div class="col-md-12">
                            <button class="button" type="submit">Entrar</button>
                            <br>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="bar"></div>
                    </div>
                    <br>
                </div> 
            </form> 
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
{% block footer %}
<footer class="foot">
</footer>
{% endblock %}