{% extends "base.html" %}
{% block title %}Produto{% endblock %}

{# ajusta a variáveis conforme novo ou edit #}
{% set id = result[0].id_produto if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set descricao = result[0].descricao if result else '' %}
{% set valor_unitario = result[0].valor_unitario if result else '' %}
{% set foto = result[0].foto if result else '' %}

{% block content %}
<br>
<div class="container">
    <form name="{{ 'formEditar' if result else 'formAdicionar' }}" id="{{ 'formEditar' if result else 'formAdicionar' }}"
    action="{{ url_for('produto.edit') if result else url_for('produto.insert') }}" method="POST" enctype="multipart/form-data">
        <h1>Produto - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}</h1>
        <div class="container form-control">
            <div class="row g-3">
                <div class=" col-md-2">
                    <label class="form-label" for="id">Código</label>
                    <input class="form-control" type="text" name="id" id="id" value="{{ id }}" placeholder="ID" readonly>
                </div>
                <div class=" col-md-6">
                    <label class="form-label" for="nome">Nome do Produto</label>
                    <input class="form-control" type="text" name="nome" id="nome" value="{{ nome }}" placeholder="Nome do Produto" autofocus required>
                </div>
                <br> 
            </div>
            <br>
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label" for="valor_unitario">Valor</label>
                    <div class="input-group">
                        <div class="input-group-text">R$</div>
                        <input class="form-control" type="number" step="0.01" min="0.01" name="valor_unitario" id="valor_unitario" value="{{ valor_unitario }}" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="form-label" for="descricao">Descrição</label>
                    <textarea class="form-control" name="descricao" id="descricao" placeholder="Descrição do Produto" value="{{ descricao }}" required></textarea>                    
                </div>           
                <br>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="foto">Imagem</label>
                        <input class="form-control" type="file" name="foto" accept="image/*" id="foto">
                    </div>
                </div>
            </div>        
            <br>
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-primary" type='submit' name='salvaProdutoDB' id='salvaProdutoDB'>Salvar</button>
                    <br>
                </div>
            </div>            
        </div>                
    </form>
    <br>
    <!-- footer -->
</div>
{% endblock %}


{% block js %}
<script>
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço
    // JS-Ajax para adicionar
    $('#formAdicionar').submit(function (e) {
        e.preventDefault(); // parar o envio para poder fazer manualmente
        var form = $('#formAdicionar')[0]; // captura o form
        var data = new FormData(form); // cria o FormData {Object}
        $.ajax({
            type: "POST", enctype: 'multipart/form-data', url: "{{url_for('produto.insert')}}", data: data,
            processData: false, // impedir que o jQuery transforme a "data" em querystring
            contentType: false, // desabilitar o cabeçalho "Content-Type"
            cache: false, // desabilitar o "cache"
            timeout: 600000, // definir um tempo limite (opcional)
            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    Swal.fire({
                        title: '', 
                        text: 'ID' + data.msg.id + ', ' + data.msg.msg, 
                        icon: 'success', 
                        showCancelButton: false, 
                        confirmButtonColor: '#3085d6', 
                        cancelButtonColor: '#d33', 
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
                        }
                    });
                }
                else {
                    Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
                }
            },
            // manipular erros da requisição
            error: function (e) {
                console.log(e);
            }
        }) // fim execução ajax
    }) // fim função evento submit
    // JS-Ajax para editar
    $('#formEditar').submit(function (e) {
        e.preventDefault(); // parar o envio para poder fazer manualmente
        var form = $('#formEditar')[0]; // captura o form
        var data = new FormData(form); // cria o FormData {Object}
        // caso queira adicionar campos extras ao FormData
        // data.append("customfield", "Este é um campo extra para teste");
        $.ajax({
            type: "POST", enctype: 'multipart/form-data', url: "{{url_for('produto.edit')}}", data: data,
            processData: false, // impedir que o jQuery tranforma a "data" em querystring
            contentType: false, // desabilitar o cabeçalho "Content-Type"
            cache: false, // desabilitar o "cache"
            timeout: 600000, // definir um tempo limite (opcional)
            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    Swal.fire({
                        title: '',
                        text: 'ID' + data.msg.id + ', ' + data.msg.msg, icon: 'success', showCancelButton: false, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
                        }
                    })
                }
                else {
                    Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
                }
            },
            // manipular erros da requisição
            error: function (e) {
                console.log(e);
            }
        })
    })
</script>
{% endblock %}