{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<br>
<form class="container" action="{{ url_for('cliente.formCliente') }}" method="POST">
    <div class="row">
        <div class="col-6 text-start">
            <h1>Clientes</h1>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-warning fa-plus mb-3" href="{{ url_for('cliente.formCliente') }}" type="submit" name="formNovo">  Novo Cliente</button>
        </div>
    </div>
</form>
<br>
<div class="container text-center">
    <div class="row">
        <table class="table table-sm table-light align-items-start">
            <thead>
                <tr>
                    <th class="col-1">#</th>
                    <th class="col-3">Nome</th>
                    <th class="col-3">CPF</th>
                    <th class="col-1">Compra fiado</th>
                    <th class="col-3">Dia fiado</th>
                    <th class="col-1">Senha</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                {% for row in result %} 
                <tr>
                    <th scope="row"> {{ row['id_cliente'] }}</th>
                    <td> {{ row['nome'] }}</td>
                    <td> {{ row['cpf'] }}</td>
                    <td> {{ row['compra_fiado'] }}</td>
                    <td> {{ row['dia_fiado'] }}</td>
                    <td type="password"> {{ row['senha'] }}</td>
                    <td><i class="fas fa-edit"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}