{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<br>
<form class="container" name="formAdicionar" id="formAdicionar" action="" method="POST">

    <h1>Cliente</h1>
    <div class="row">
        <label for="id">Código</label>
        <input type="text" name="id" id="id" value="" placeholder="Código" readonly>
    </div>
    <br>
    <div class="row">
        <label for="nome">Nome Cliente</label>
        <input type="text" name="nome" id="nome" value="" placeholder="Nome Cliente" maxlength="100" autofocus required>
    </div>
    <br>
    <div class="row">
        <label for="cpf">CPF</label>
        <input type="text" name="cpf" id="cpf" value="" placeholder="CPF" maxlength="15" required>
    </div>
    <br>
    <div class="row">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="tel" name="telefone" id="telefone" value="" placeholder="Telefone" maxlength="15" required>
    </div>
    <br>
    <div class="row">
        <input type="password" name="senha" id="senha" value="Bolinhas" placeholder="Senha" required>
        <label for="senha">Senha</label>
    </div>
    <br>
    <div class="row">
        <input type="password" name="resenha" id="resenha" value="Bolinhas" placeholder="Senha" required>
        <label for="resenha">reSenha</label>
    </div>
    <br>
    <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB' class="btn btn-primary">Salvar</button>
</form>
{% endblock %}