{% extends "base.html" %}

{% block title %}Funcionário{% endblock %}

{# ajusta as variáveis conforme novo ou edit #}
{% set id = result[0].id_funcionario if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set matricula = result[0].matricula if result else '' %}
{% set cpf = result[0].cpf if result else '' %}
{% set telefone = result[0].telefone if result else '' %}
{% set grupo = result[0].grupo if result else '' %}
{% set senha = result[0].senha if result else '' %}
{% set resenha = result[0].senha if result else '' %}

{% block content %}
<div class="container">
    <form name="{{ 'formEditar' if result else 'formAdicionar' }}"
    id="{{ 'formEditar' if result else 'formAdicionar' }}"
    action="{{ url_for('funcionario.edit') if result else url_for('funcionario.insert') }}"
    method="POST"  enctype="multipart/form-data">    
        <h1>Funcionário - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}</h1>
        <div class="container form-control">
            <div class="row g-3">
                <div class=" col-md-2">
                    <label class="form-label" for="id">Código</label>
                    <input class="form-control" type="text" name="id" id="id" value="{{ id }}" placeholder="ID" readonly>
                </div>
                <div class=" col-md-6">
                    <label class="form-label" for="nome">Nome do Funcionário</label>
                    <input class="form-control" type="text" name="nome" id="nome" value="{{ nome }}" 
                    placeholder="Nome do Funcionário" autofocus required>
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div class=" col-md-2">
                    <label class="form-label" for="cpf">CPF</label>
                    <input class="form-control" type="text" maxlength="15" name="cpf" id="cpf" value="{{ cpf }}" 
                    placeholder="123.123.123-12" required>
                    <!-- pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" -->
                </div>
                <div class=" col-md-2">
                    <label class="form-label" for="telefone">Telefone</label>
                    <input class="form-control" type="text" maxlength="16" name="telefone" id="telefone" value="{{ telefone }}" 
                    placeholder="(00) 000-000-000" required>
                    <!-- pattern="\([0-9]{2}\)[\s][0-9]{3}-[0-9]{3}-[0-9]{3}" -->
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label" for="grupo">Grupo</label>
                    <select class="form-select mb-3" name="grupo" id="grupo" aria-label="Grupo">
                        <option value="0" {{ 'selected' if grupo == 0 else '' }}>Atendente</option>
                        <option value="1" {{ 'selected' if grupo == 1 else '' }}>Caixa</option>
                        <option value="2" {{ 'selected' if grupo == 2 else '' }}>Administrador</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="matricula">Matrícula</label>
                    <input class="form-control" type="text" name="matricula" id="matricula" value="{{ matricula }}" placeholder="0123456">
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div class="col-4">
                    <label class="form-label" for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" value="{{ senha }}" placeholder="Senha" required>
                </div>
                <div class="col-4">
                    <label class="form-label" for="resenha">Confirmar Senha</label>
                    <input class="form-control" type="password" name="resenha" id="resenha" value="{{ resenha }}" placeholder="Confirmar Senha" required>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-primary" type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'>Salvar</button>
                    <br>
                </div>
            </div>            
        </div>
    </form>
    <br>
    <!-- footer -->
</div>
{% endblock %}


{% block js %}
<script>
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço
    // JS-Ajax para adicionar
    $('#formAdicionar').submit(function (e) {
        e.preventDefault(); // parar o envio para poder fazer manualmente
        var form = $('#formAdicionar')[0]; // captura o form
        var data = new FormData(form); // cria o FormData {Object}
        $.ajax({
            type: "POST", enctype: 'multipart/form-data', url: "{{url_for('funcionario.insert')}}", data: data,
            processData: false, // impedir que o jQuery transforme a "data" em querystring
            contentType: false, // desabilitar o cabeçalho "Content-Type"
            cache: false, // desabilitar o "cache"
            timeout: 600000, // definir um tempo limite (opcional)
            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    Swal.fire({
                        title: '', 
                        text: 'ID' + data.msg.id + ', ' + data.msg.msg, 
                        icon: 'success', 
                        showCancelButton: false, 
                        confirmButtonColor: '#3085d6', 
                        cancelButtonColor: '#d33', 
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.replace($SCRIPT_ROOT + "{{ url_for('funcionario.formListaFuncionario') }}");
                        }
                    });
                }
                else {
                    Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
                }
            },
            // manipular erros da requisição
            error: function (e) {
                console.log(e);
            }
        }) // fim execução ajax
    }) // fim função evento submit
    // JS-Ajax para editar
    $('#formEditar').submit(function (e) {
        e.preventDefault(); // parar o envio para poder fazer manualmente
        var form = $('#formEditar')[0]; // captura o form
        var data = new FormData(form); // cria o FormData {Object}
        // caso queira adicionar campos extras ao FormData
        // data.append("customfield", "Este é um campo extra para teste");
        $.ajax({
            type: "POST", enctype: 'multipart/form-data', url: "{{url_for('funcionario.edit')}}", data: data,
            processData: false, // impedir que o jQuery tranforma a "data" em querystring
            contentType: false, // desabilitar o cabeçalho "Content-Type"
            cache: false, // desabilitar o "cache"
            timeout: 600000, // definir um tempo limite (opcional)
            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    Swal.fire({
                        title: '',
                        text: 'ID', 
                        icon: 'success', 
                        showCancelButton: false, 
                        confirmButtonColor: '#3085d6', 
                        cancelButtonColor: '#d33', 
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.replace($SCRIPT_ROOT + "{{ url_for('funcionario.formListaFuncionario') }}");
                        }
                    })
                }
                else {
                    Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
                }
            },
            // manipular erros da requisição
            error: function (e) {
                console.log(e);
            }
        })
    })
</script>
{% endblock %}